{% extends 'base.html' %}
{% load static %}
{% block title %}Update Offer{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
{% endblock %}

{% block content %}
<form method="POST" class="post-form" action="/update/{{offer.id}}" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'offers' %}" class="btn btn-outline-secondary" role="button">Cancel</a>
</form>
{% endblock %}