{% extends 'jinja/base.html' %}
{% block title %}Update Offer{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ static('css/style.css') }}" />
<link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}" />
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb my-4 bg-dark">
    <li class="breadcrumb-item"><a href="{{ url('offers') }}" class="text-white">My Offers</a></li>
    <li class="breadcrumb-item active text-white">Update Offer</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <form method="POST" class="post-form" action="/update/{{offer.id}}" novalidate>
            {{ csrf_input }}
            {% include 'jinja/includes/form.html' %}
            <button type="submit" class="btn btn-success">Save changes</button>
            <a href="{{ url('offers') }}" class="btn btn-outline-secondary" role="button">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}