{% extends 'jinja/base.html' %}
{% block title %}My Offers{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ static('css/style.css') }}" />
<link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}" />
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb my-4 bg-dark">
    <li class="breadcrumb-item active"><a href="{{ url('offers') }}" class="text-white">My Offers</a></li>
</ol>
<div class="text-right">
    <h3>
        <small class="text-muted">Escrow: {{ "%0.8f" | format(acc.escrow_balance) }} Balance:
            {{ "%0.8f" | format(acc.acc_balance) }}</small>
    </h3>
</div>
{% endblock %}


{% block content %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Fiat Currency</th>
            <th>Payment Method</th>
            <th>Min Amount (ETH)</th>
            <th>Max Amount (ETH)</th>
            <th>Margin Percent</th>
            <th>No of Bids</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers %}
        <tr>
            <td>{{ offer.fiat_currency }}</td>
            <td>{{ offer.pay_method }}</td>
            <td>{{ offer.min_amount }}</td>
            <td>{{ offer.max_amount }}</td>
            <td>{{ offer.margin_percent }}</td>
            <td>{{ offer.bids.count() }}</td>
            <td>
                <a href="/update/{{ offer.id }}" class="btn btn-outline-success btn-sm">Edit</a>
                <a href="/delete/{{ offer.id }}" class="btn btn-outline-danger btn-sm">Delete</a>
                <a href="/offerbids/{{ offer.id }}" class="btn btn-outline-info btn-sm">View bids</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/new" class="btn btn-primary">Add New Offer</a></center>
{% endblock %}